[package]
name = "libloadorder-ffi"
version = "12.0.0"
authors = ["Oliver Hamlet <oliver.hamlet@gmail.com>"]
build = "build.rs"
description = "A wrapper library providing a C FFI for libloadorder."
documentation = "https://docs.rs/libloadorder-ffi"
repository = "https://github.com/Ortham/libloadorder.git"
readme = "../README.md"
categories = ["games"]
license = "GPL-3.0"
exclude = [
    "build/*",
    "include/*",
    "target/*",
]

[dependencies]
libloadorder = { version = "12.0.0", path = ".." }
libc = "0.2"

[lib]
name = "loadorder_ffi"
crate-type = ["staticlib"]

[features]
default = []
ffi-headers = ["cbindgen"]

[build-dependencies]
cbindgen = { version = "0.9", optional = true }
