[package]
name = "libloadorder"
version = "12.0.1"
authors = ["Oliver Hamlet <oliver.hamlet@gmail.com>"]
description = "A cross-platform library for manipulating the load order and active status of plugins for the Elder Scrolls and Fallout games."
documentation = "https://docs.rs/libloadorder"
repository = "https://github.com/Ortham/libloadorder.git"
readme = "README.md"
categories = ["games", "parsing"]
license = "GPL-3.0"
exclude = [
    "target/*",
]

[badges]
appveyor = { repository = "Ortham/libloadorder" }
travis-ci = { repository = "Ortham/libloadorder" }
coveralls = { repository = "Ortham/libloadorder" }

[dependencies]
encoding = "0.2"
filetime = "0.2"
esplugin = "2.0.0"
regex = "1.0.0"
unicase = "2.0.0"
rayon = "1.0.0"

[target.'cfg(windows)'.dependencies]
app_dirs = "1.1.1"

[dev-dependencies]
criterion = "0.2.0"
tempfile = "3.0.0"

[lib]
name = "loadorder"

[workspace]
members = ["ffi"]

[[bench]]
name = "load_order"
harness = false
